/* Write your CSS here */
.thumbnail {
  width: 215px;
  height: 150px;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .thumbnail {
    width: 255px;
    height: 180px;
    padding-right: 25px;
  }
}

.popup-content {
  width: 254px;
  height: 460px;
  border-radius: 16px;
  background-color: #fff;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.close-button {
  align-self: flex-end;
  border: none;
  margin-top: 18px;
  height: 28px;
  width: 28px;
  background-color: transparent;
  margin-right: 18px;
  cursor: pointer;
}

.movie-player-container {
  margin-top: 12px;
  margin-left: 48px;
  margin-right: 48px;
  margin-bottom: 48px;
}
